<div class="container-fluid vh-100 p-0">
    <div class="card h-100">
        <div class="card-header fs-3 d-flex justify-content-between">
            <p> Chat </p>
            <app-name-modal [name]="name"></app-name-modal>
        </div>
        <div class="card-body overflow-auto" #scroll>
            <div *ngFor="let message of messages">
                <div class="mb-3" [ngClass]="{'d-flex justify-content-end':message.isSent}">
                    <div *ngIf="message.type==MessageType.info" class="text-center">
                        {{message.text}}
                    </div>
                    <span *ngIf="message.type!=MessageType.info" class="d-inline-block px-3 bg-success"
                        [ngClass]="message.isSent ? 'sent':'received'">
                        <div>
                            <div *ngIf="!message.isSent" class="time text-primary">{{message.sender}}</div>
                            <div>{{ message.text }}</div>
                            <div class="time text-info text-right">{{getTime(message.timestamp)}}</div>
                        </div>
                    </span>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <div class="input-group">
                <input type="text" class="form-control" [(ngModel)]="message" placeholder="Type your message..."
                    (keydown.enter)="sendMessage()">
                <button class="btn btn-primary" type="button" (click)="sendMessage()">
                    Send
                </button>
            </div>
        </div>
    </div>
</div>