/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';
@import 'bootstrap-icons/font/bootstrap-icons.min.css';

::-webkit-scrollbar {
    width: 0;
    background: transparent;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: transparent;
}

.dvh-100 {
    height: 100dvh !important;
}

.dvh-90 {
    height: 90dvh !important;
}

.dvh-80 {
    height: 80dvh !important;
}

.dvh-70 {
    height: 70dvh !important;
}

.picsum {
    width: 100%;
    height: 100%;
    background-image: url('https://picsum.photos/500/500');
    background-size: cover;
    background-position: center;
}

.text-right {
    text-align: right;
}

.center {
    display: grid;
    place-items: center;
}

.cursor-pointer {
    cursor: pointer !important;
}