/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';


::-webkit-scrollbar {
    width: 0;
    background: transparent;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: transparent;
}

.dvh-100 {
    height: 100dvh;
}

.picsum {
    width: 100%;
    height: 100%;
    background-image: url('https://picsum.photos/500/500');
    background-size: cover;
    background-position: center;
}

.text-right {
    text-align: right;
}